@{
    ViewBag.Title = T("Sign in");
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLinkLocalized("Groups", "List", "Forums")</li>
</ul>
<div id="login" class="floatContainer">
	<h1>@ViewBag.Title</h1>
	@if (Config.AuthenticationProviders.CustomDb.IsDefined)
	{
		<div class="membership">
			<h2>@T("Sign in using your existing account")</h2>
			@Html.Partial("LoginForm")
		</div>
	}
	else if (Config.AuthenticationProviders.FormsAuth.IsDefined)
	{
		<div class="membership">
			<h2>@T("Sign in using your existing account")</h2>
			@Html.Partial("LoginForm")
		</div>
	}
	
	@if (Config.AuthenticationProviders.SSOOpenId.IsDefined)
	{
		<div class="ssoOpenId">
			<h2>@T("Sign in with your site credentials")</h2>
			<p class="button"><input type="button" class="button" value="@T("Login")" onclick="window.location.href='@Url.Action("OpenIdStartLogin", "Authentication", new{returnUrl = this.Request.Url.PathAndQuery})';" /></p>
			<div class="connectMessage">
				<p>Sign in using the same username and password information as in the main site.</p>
			</div>
		</div>
	}
</div>
